<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Tiny MCE Tester Component
        <button
          class="float-right"
          (click)="toggleEditor()"
          nbButton
          status="primary"
        >
          Toggle Editor
        </button>
      </nb-card-header>
      <nb-card-body [formGroup]="formGroup">
        <nb-tabset
          (changeTab)="changeTab($event)"
        >
          <nb-tab tabTitle="Adatok">
            <h2>Data</h2>
          </nb-tab>
          <nb-tab tabTitle="Vmi más" lazyLoad="true">
            <editor
              [init]="config"
              formControlName="text"
            ></editor>
          </nb-tab>
        </nb-tabset>
        <editor
          *ngIf="showEditor"
          formControlName="text"
          [init]="config"
        ></editor>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Tiny MCE Tester Component
      </nb-card-header>
      <nb-card-body>
        {{ formGroup.value | json }}
      </nb-card-body>
    </nb-card>
  </div>
</div>
